table {
   margin: 1%;
   
}

thead {
    background-color: #f0f0f0;
}

/* Responsividad */
@media (max-width: 768px) {
    .topbar nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .calendar-header {
        flex-direction: center;
        align-items: flex-start;
        gap: 15px;
    }

    .filters {
        flex-direction: column;
        gap: 15px;
    }

    .view-options {
        flex-direction: column;
        gap: 5px;
    }
}