/* Estilos para el contenido principal */
main {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

/* Botones de acción */
.btn-warning {
    margin-right: 10px;
}

/* Responsividad para pantallas menores a 768px */
@media (max-width: 768px) {
    #sidebar {
        display: flex;/* Escondemos el menú lateral en pantallas pequeñas */
    }

    main {
        margin-top: 10px;
    }

    .table {
        font-size: 14px;
    }
}
