body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 5px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
}

.social-icons i {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.especialidades {
    text-align: center;
    padding: 40px 0;
}

.especialidades-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.especialidad-item {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navbar-brand img {
    width: 40px;
    /* Logo tamaño ajustado */
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-weight: bold;
}

.search-bar {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.social-icons a {
    margin-left: 10px;
    color: #000;
}


@media (max-width: 993px) {
    .navbar-nav {
        text-align: center;
        /* Centra el texto del menú desplegable */
    }

    .navbar-collapse {
        justify-content: center;
        /* Centra los elementos del menú en pantallas pequeñas */
    }
}

.fixed-image {
    width: 100%;
    /* Ancho 100% del contenedor */
    height: 400px;
    /* Altura fija para pantallas grandes */
    object-fit: cover;
    /* Ajusta la imagen para cubrir el contenedor sin distorsionarse */
}

/* Media query para pantallas menores a 768px */
@media (max-width: 768px) {
    .carousel-inner {
        margin: 0 5px;
        /* Márgenes de 5px a los lados */
    }

    .fixed-image {
        height: 250px;
        /* Menor altura para pantallas pequeñas */
    }
}
/*Color de las letras*/
.hover-effect {
    color: black; /* Color de texto inicial */
    transition: color 0.3s ease; /* Transición suave */
}

.hover-effect:hover {
    color: rgb(72, 219, 200); /* Cambia d color al pasar el ratón */
}
.horario-container {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.horario-table {
    margin-top: 30px;
}


/*Nosotros*/

/*Color de las letras*/
.hover-effect {
    color: black; /* Color de texto inicial */
    transition: color 0.3s ease; /* Transición suave */
}

.hover-effect:hover {
    color: rgb(72, 219, 200); /* Cambia a rojo al pasar el ratón */
}
/*Nuestros valores*/
.sobre_nosotros{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center;
}

.valores-container {
    padding: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab {
    background-color: #f8f9fa;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Botón activo */
.tab.active {
    background-color: #fc0808;
    color: #f1eaea;
}

.tab:hover {
    background-color: #fc0808;
}

/* Contenedor para el contenido de los valores */
.values-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Para hacer el contenedor flexible */
}

/* Estilo para el círculo del icono */
.value-icon {
    width:150px; /* Aumenta el tamaño del círculo */
    height: 150px; /* Aumenta el tamaño del círculo */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.value-icon img {
    width: 80px; /* Aumenta el tamaño del icono */
    height: 80px; /* Aumenta el tamaño del icono */
}

.value-description {
    max-width: 300px;
    text-align: left;
}

.value-description h3 {
    margin-bottom: 10px;
}

.value-description p {
    margin: 0;
}

/* Media query para pantallas más pequeñas de 768px */
@media (max-width: 768px) {
    .tabs {
        flex-wrap: wrap; /* Ajusta los botones en varias líneas si es necesario */
    }

    .tab {
        margin-bottom: 10px; /* Margen adicional para separación */
        width: 45%; /* Ajuste de tamaño de los botones */
    }

    .values-content {
        flex-direction: column; /* Cambia la dirección a columna */
    }

    .value {
        flex-direction: column; /* Alinea los elementos de arriba hacia abajo */
        text-align: center; /* Centra el texto */
    }

    .value-icon {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 20px; /* Agrega margen inferior */
    }
}


/*Vision, mision*/
.nosotros{
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.main-text {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 20px;
}

.main-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.main-text h2 span {
    color: teal;
    font-style: italic;
}

.main-text p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn-green {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.missions {
    flex: 1 1 40%;
    max-width: 40%;
    padding: 20px;
}

.mission-item {
    margin-bottom: 30px;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-circle i {
    color: white;
    font-size: 20px;
}

.mission-item h3 {
    margin-top: 0;
    font-size: 20px;
}

.mission-item p {
    line-height: 1.6;
}

/* Responsivo para pantallas menores de 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .main-text, .missions {
        max-width: 100%;
        padding: 10px;
    }
}
