/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Color de fondo suave */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; /* Ajusta el tamaño de la imagen del logo */
    margin-right: 10px;
}

.social-icons {
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.social-icons i {
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

.navbar {
    background-color: #e9ecef;
    padding: 10px 0 ;

}

.navbar-nav .nav-link{
    font-size: 1.1rem;
    margin: 0 15px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #343a40;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #007bff;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .logo {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-icons {
        margin-top: 10px;
    }

    .social-icons i {
        margin: 0 5px;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
    .navbar-nav {
        margin-left: auto;
    }
}

/*nuevo */


