h2 {
    color: #343a40; /* Color del título de la sección */
    margin-bottom: 20px;
}

.table th {
    background-color: #007bff; /* Color de encabezado de tabla */
    color: white;
}

.table td {
    vertical-align: middle; /* Centrar verticalmente el contenido de las celdas */
}



/* Estilos responsivos */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-icons {
        margin-top: 10px;
    }
}
